
<div class="col-md-6 mx-auto">
	<div class="card">
		<div class="card-header">
			<h2>Comentarios del producto elegido</h2>
		</div>
		<div class="card-body">
		
				<h2></h2>
				<div id="comentarios">
					
				</div>
				<div class="form-group">
					<input type="text" name="mensaje" id="mensaje" class="form-control" placeholder="mensaje a enviar">
				</div>
				<br>
				<div class="form-group">
					<button class="btn btn-primary btn-block" id="boton">Enviar</button>
				</div>
		</div>
	</div>
</div>

<script src="/socket.io/socket.io.js"></script>
	
<script type="text/javascript">
	const socket = io();

	let mensaje = document.getElementById('mensaje');
	let comentarios = document.getElementById('comentarios');
	let boton = document.getElementById('boton');

	boton.addEventListener('click', ()=>{
		socket.emit('comentario', {mensaje: mensaje.value})
		datos = document. createElement("p");
		datos.textContent = mensaje.value
		comentarios.appendChild(datos);
	})

	socket.on('mensajeGlobal', (data)=>{
		console.log(data)
		comentarios.innetHTML += "<p>"+data.mensaje+"</p>"
	})
</script>