<div class="card">
	<div class="card-body">
		<h1 class="display-4">Mercado Libertad</h1>
		<p class="lead">URU - 2021A - Proyecto Web 2 -NodeJS</p>
		<hr class="my-4">
		<p>El actual proyecto Web es una asignacion de la materia
		Web 2 durante el periodo universitario 2021A.
		Adjunto un link a mi cuenta de github:</p>
		<a href="https://github.com/mario1029/" class="btn btn-primary btn-lg">Github:Mario</a>
	</div>	
</div>
	
	