<div class="row">
	<div class="col-md-4 mx-auto">
		<div class="card">
			<div class="card-header">
				<h2>Iniciar Sesion</h2>
			</div>
			<div class="card-body">
				<form action="/user/inicio-sesion-a" method="POST">
					
					<div class="form-group">
						<input type="email" class="form-control" name="correo" placeholder="Correo. Ej: luigi1999@gmail.com" value="{{correo}}">
					</div>
					<br>
				
					<div class="form-group">
						<input type="text" class="form-control" name="clave" placeholder="Clave. Ej: toad1029" value="{{clave}}">
					</div>

					<br>
					<div class="form-group">
						<button type="submit" class="btn btn-primary btn-block">Iniciar sesion</button>
					</div>
				
				</form>
			</div>
		</div>
	</div>
</div>