<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Mercado Libertad</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Inicio</a>
        </li>
        
        {{#if user}}
        {{else}}
        <li class="nav-item">
          <a class="nav-link" href="/user/registro">Registrarse</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user/inicio-sesion">Inicio de Sesion</a>
        </li>
        {{/if}}

        <li class="nav-item">
          <a class="nav-link" href="/about">Extra</a>
        </li>
      </ul>
      <form class="d-flex" action="/products/busqueda" method="POST">
      	<ul class="navbar-nav">
      {{#if user}}
          <li class="nav-item">
            <a class="nav-link" href="/user/perfil/{{user._id}}">Perfil</a>
          </li>
  
      		<li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Producto
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
            <li><a class="dropdown-item" href="/products">Mis productos</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/products/todo">Producto-Todos</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/products/agregar">Agregar Producto</a></li>
            <li><hr class="dropdown-divider"></li>
            
            <li><a class="dropdown-item" href="/user/cerrar-sesion">Cerrar Sesion</a></li>
          </ul>
        </li> 
        
      	</ul>
          <input class="form-control me-2" type="search" name="busqueda" placeholder="Busqueda" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Buscar</button>
        {{/if}}
      </form>
    </div>
  </div>
</nav>

<br><br>